<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-lg-2 pull-left">
            <i class="fa fa-industry" aria-hidden="true" style="font-size: 60px"></i>
          </div>
          <div class="col-lg-2 pull-right">
            <% if current_user %>
              <%= link_to 'Log Out', logout_path %>
            <% else %>
              <%= link_to 'Sign up', signup_path %>
              |
              <%= link_to 'Log In', login_path %>
            <% end %>
          </div>

        </div>
        <div class="row">

          <div class="col-lg-2 pull-left">
            <%= link_to 'Idea Factory', ideas_path %>
          </div>
          <div class="col-lg-2 pull-right">
            <%= link_to 'New_Idea', new_idea_path, class:"btn btn-default" %>
          </div>

        </div>
      </div>
    </div>
    <% if flash.any? %>
   <hr>
   <% if flash[:notice] %>
     <div class="alert alert-success"><%= flash[:notice] %></div>
   <% elsif flash[:alert] %>
     <div class="alert alert-danger"><%= flash[:alert] %></div>
   <% end %>
   <hr>
  <% end %>

  <%= yield %>
  </body>
</html>
